{% extends "layout_unbranded.html" %}
{% block pageTitle %} Employees Gross Pay {% endblock %}
{%block content%}

    <h2>Employee Gross Pay</h2>
    {% if empsgrosspay and empsgrosspay.length > 0 %}
        {% set emprows = [] %}
        {% for
        emp in empsgrosspay %}
            {% set emprows = (emprows.push([
                {
                    text: emp.ID
                }, {
                    text: emp.Name
                }, {
                    text: emp.GrossPay
                }
            ]), emprows) %}
        {% endfor %}
        {{govukTable({
head: [ { text: 'ID'}, {text: 'Name'}, {text: 'Gross Pay'}], rows:
emprows }) }}
    {% else %} There are no employees. {% endif %}
{% endblock %}