{% extends "layout_unbranded.html" %}
{% block pageTitle %} Login {% endblock %}
{%block content%}

  <h2>Login</h2>
  {% from "govuk/components/select/macro.njk" import govukSelect %}

  <form class="form" action="javascript:login()" method="GET">
    {{ govukSelect({
  id: "user",
  name: "user",
  label: {
    text: "User"
  },
  items: [
    {
      value: "hr",
      text: "HR Team"
    },
    {
      value: "finance",
      text: "Finance Team"
    },
    {
      value: "sales",
      text: "Sales Manager"
    },
    {
      value: "talent",
      text: "Talent Manager"
    }
  ]
}) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
  text: "Login"
}) }}
  </form>

  <script>
    function login() {
      let user = document
        .getElementById("user")
        .value;

      if (user.valueOf() == "hr") {
        window.location.href = "/hrmenu.html";
      } else if (user.valueOf() == "finance") {
        window.location.href = "/financemenu.html";
      } else if (user.valueOf() == "sales") {
        window.location.href = "/salesmenu.html";
      } else if (user.valueOf() == "talent") {
        window.location.href = "/talentmenu.html";
      }
    };
  </script>

{% endblock %}